body{

	font-family: arial, sans-serif;
	text-align: center;
}
#nav {
	width:100%;
	height:400px;
	background: url(portfolio.jpg);
    background-size: cover;
	}
#nav_wrapper {
	height: 100px;
	width: 700px;
background:grey;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
opacity:0.7;
filter:alpha(opacity=70);
}
#nav_wrapper ul li{
	list-style: none;
	display: inline;
	font-weight: bold;
	padding: 10px;
	
}
#nav_wrapper a{
	color: white;
	text-decoration: none;
	padding: 10px;
}
#nav_wrapper ul li :hover{
background: blueviolet;
transition:all 0.45s;
opacity:0.5;
filter:alpha(opacity=70);
}